# CUDA C++
*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
*.so
*.d
*.o

# Datasets
sti2_data/

# ipynb
.ipynb_checkpoints/
__pycache__

#vscode
.vscode

# TensorRT
*.plan
*.cache

# ONNX
*.onnx

# Bin
bin/
build/

# Data
data/
*.npy

# Model
model/

#output
*.res.txt

*.qdrep
*.nsys-rep
*.sqlite

# Include
include/tensorrt
src/ft_ernie/src/fastertransformer/tensorrt_plugin/ernie/ErnieBinPath.h

# So
so/

# Lib
lib/

# Config
*.in
