# CUDA C++
*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
*.so
*.d
*.o

# Datasets
sti2_data/

# ipynb
.ipynb_checkpoints/
__pycache__

# TensorRT
*.plan
*.cache

# ONNX
*.onnx

# Bin
bin/

# Data
data/

# Model
model/

#output
label.res.txt
perf.res.txt
