tensorrt    # 8.2.1.5
onnx
onnxruntime
nvidia-pyindex
onnx-graphsurgeon
onnx-simplifier
paddleslim
numpy
tqdm
typer
cuda-python
colored
rich
pyyaml
# TODO: add version

# type hint
mypy

# install requirements in order:
# cat requirements.txt | xargs -n 1 -L 1 pip install
